<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}tascon{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">トップ</a>
        <a href="{{ url_for('logs') }}">記録一覧</a>
        <a href="{{ url_for('templates') }}">テンプレート</a>
        <a href="{{ url_for('stats') }}">記録の統計</a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
