<!DOCTYPE html>
<html>
<head>
    <title>テスト</title>
</head>
<body>
    <h1>今日のコンディションを選んでください</h1>
    <form action="/tasks" method="POST">
        <button type="submit" name="condition" value="0">良くない</button>
        <button type="submit" name="condition" value="1">普通</button>
        <button type="submit" name="condition" value="2">良い</button>
    </form>

    <h2>今日のタスク</h2>
    {% if message %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}
    <form action="/start" method="POST">
        <input type="hidden" name="condition" value="{{ condition }}">
        {% for task in tasks %}
            <input type="checkbox" name="selected_tasks" value="{{task.name}}">
            <label>{{task.name}}</label><br>
        {% endfor %}
        <button type="submit">このタスクで始める</button>
    </form>
</body>
</html>