{% extends "base.html" %}

{% block title %}今日のタスク{% endblock %}

{% block content %}
    <h1>今日のタスク</h1>
    <h2>進捗: {{ rate | round(1) }}%</h2>
    {% for task in tasks %}
        <p>
            {{ task.name }}
            {% if task.done %}
                ✅
            {% else %}
                <form action="/complete" method="POST">
                    <input type="hidden" name="task_name" value="{{ task.name }}">
                    <button class="primary" type="submit">完了</button>
                </form>
            {% endif %}
        </p>
    {% endfor %}
    <p>途中終了する場合は下のボタンを押してください</p>
    <form action="/cancel" method="POST">
            <button type="submit">終了</button>
    </form>
{% endblock %}
